In [1]:
import pandas as pd

In [7]:
a.reset_index()

      index                                             morphs
0         0  길 우리 나라 기웃기웃 공지 목록 공지 글 글 제목 작성 일 59 공지 인 플루 언...
1         1  검다 호랑이 의 해 임인년 새해 가 밝다 임인년 새해 첫날 을 맞다 황매산 군 립 ...
2         2  31일 날 블로그 써다 다짐 하다 귀찮다 결국 못 적다 지난 달 에는 거의 크리스마...
3         3  하늘 을 보다 라는 송 동호 님 의 책 을 읽다 ㅡㅡㅡ 이 책 엔 잠깐 뒤 적 이며...
4         4  널 용서 하다 못 하다 죽지 마 오랜 만 에 읽다 동양 판타지 소설 나 는 동양 풍...
...     ...                                                ...
3374   3374  2022년 1월 1일 을 맞이 하다 들다 노래 네이버 충성 귤답 게 바이브 로 들다...
3375   3375  사랑 이 뭐 든 걸 해결 해주다 않다 돈 이 있다 뭐 든지 하다 수 있다 모르다 라...
3376   3376  힐스테이트 몬테 로이 아파트 는 수도권 정비 계획 법 의하다 자연 보전 권 역 이다...
3377   3377  안녕하다 정해민 법무사 이다 차다 명함 도 다 써다 새롭다 만들다 야하다 디자인 바...
3378   3378  설 연휴 를 맞다 할머니 댁 에 내려가다 전 에 아빠 랑 같이 1 박 2일 여행 을...

[3379 rows x 2 columns]

In [9]:
for i in range(1,13):
    df = pd.read_csv('산문화/산+문화_2022_%s월_형태소.csv'%i)
    df.index.name = 'org_idx'
    df.reset_index()
    df_2 = df.reset_index()
    df_2.to_csv('산문화/산+문화_2022_%s월_형태소.csv'%i, index=False)