## Textdata anlaysis 실행파일

In [1]:
from textanal import contents_clean, contents_separation, distribution
from textanal.morphanal import analyze_corpus
from textanal.TFIDF import TF_IDF
from textanal.cooccurence import coocur
import pandas as pd
from tqdm import tqdm
import pickle

### Text 전처리

In [2]:
df = pd.read_csv("a.csv")
df['clean'] = df['본문'].apply(lambda x : contents_clean(x)) # 불용어 제거 함수
df['sep'] = df['clean'].apply(lambda x : contents_separation(x)) # contents를 sentence 단위로 분할하는 함수

In [ ]:
df2 = pd.DataFrame(columns = ['str', 'idx']) # dataframe 만들어 문장 분리 실행
for idx, lst in tqdm(enumerate(df['sep'].tolist())):
    split_df= distribution(idx,lst) # sentence 단위로 분할해서 데이터 프레임으로 변환하는 함수
    df2 = pd.concat([df2,split_df])
else:
    # 정상적으로 완료될 경우 결측치 제거, 인덱스 초기화 진행.
    df2.dropna(axis=0, inplace=True)
    df2.reset_index(drop=True, inplace=True)
df2 # 분리된 문장을 담은 dataframe 출력

### 피클저장(나중에 지워야함)

In [8]:
# 데이터프레임을 피클 파일로 저장
with open('b.pkl', 'wb') as file:
    pickle.dump(df2, file)

In [2]:
# 저장된 피클 파일을 불러오기
with open('b.pkl', 'rb') as file:
    df2 = pickle.load(file)
df2

                                                    str idx
0     7월 개봉 예정 영화 신작 영화추천 신작 영화 추천 극장 개봉 예정 영화 7월 리부...   0
1     문제는 쥬라기 월드 탑건 신비한 동물사전 레전드 영화의 리부트가 연일 관객들의 기대...   0
2     어린 시절의 향수를 진하게 불러주는 오마주는 반갑지만 그때 느꼈던 감동과 재미는 다...   0
3     저야 극장에서 보는 어지간한 영화는 재밌게 보고 나오는 편입니다만 그래서 극장 관람...   0
4     그래서 2차 3차 가공해서 영화를 해석하고 추천하는 글을 쓰는 데는 생각이 참 많아...   0
...                                                 ...  ..
2426   왜냐하면 저 위로 올라가야하는데 아이혼자 클라이밍으로 올라가서 높은 곳을 걸어야하거든요  49
2427                저희 아이는 1시간동안 땀이 뻘뻘 나도록 미끄럼틀을 오르내렸어요  49
2428                     저 혹등고래 입속으로 들어가면 피노키오 인형이 있답니다  49
2429       두빛나래와 국립해양생물자원관은 장항에 위치해서 하루 여행 코스로 좋은 것 같아요  49
2430  역사 문화 해양 생물 등 즐거운 체험과 학습을 할 수 있는 유익한 두 곳 꼭 방문드...  49

[2431 rows x 2 columns]

### 형태소 분석

In [ ]:
# 명사, 동사, 형용서, 조사 빈도 데이터프레임들과 형태소 단위로 나눈 데이터프레임을 반환
noun_df, verb_df, adj_df, josa_df, morph_df = analyze_corpus(df2)

### TF-IDF(단어 빈도-역 문서 빈도, Term Frequency-Inverse Document Frequency) 출력

In [4]:
# TF-IDF 결과값 반환. only_kor=True일때는 한글로만 이루어진 TF-IDF데이터프레임 반환
word_count, tfidf_DF = TF_IDF(morph_df, josa_df, only_kor=True)

In [11]:
morph_df = pd.read_csv('나무문화_본문to형태소.csv')
noun_df = pd.read_csv('나무문화_단어빈도_50위.csv')
noun_df.columns = ['noun', '빈도']

### 단어동시출현행렬(co-occurence matrix) 출력

In [ ]:
# 단어동시출현행렬 = 원본 dataframe, 상위50단어 dataframe, 공출현빈도행렬(1-mode matrix) 순으로 출력
freq_df2, freq_df3, word_co_matx = coocur(morph_df, noun_df)

In [10]:
freq_df2.to_csv('한준규/산림문화_dict형식컬럼명지정.csv')
freq_df3.to_csv('한준규/산림문화_상위50단어_단어쌍.csv')
word_co_matx.to_csv('한준규/산림문화_공출현빈도행렬.csv')

In [9]:
# 데이터프레임을 피클 파일로 저장
with open('e.pkl', 'wb') as file:
    pickle.dump(word_co_matx, file)